body{
  background-color: #f3ece2;
margin: 0px 0px 0px 0px;
  position: relative;
  border: solid darkgreen 10px;
}
div#navbar{
  top:0px;
  left: 0px;
}
div#icon img{
  width: 50px;
  height: auto;
  top: 0px;
  left: 20px;
  position: relative;
}
div#navigation p{
  text-align: center;
  top:25px;
  word-spacing: 20px;
  position: absolute;
  width: 100vw;
  color: #047404;
  font-size: 20;
  font-family: fantasy;
  letter-spacing: 1px;
}
div#button a{
  text-align: center;
  right: 40px;
  top: 35px;
  position: fixed;
  clear: right;
  border: solid;
  padding: 8px 25px 8px 25px;
  font-size: 22;
  color: #047404;
  font-style: italic;
  font-family: auto;
  text-decoration: none;
}
div#content{
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
@font-face {
  font-family: kris;
  src: url(../Fonts/Kristi.ttf);
}
div#name {
    font-size: 100px;
    font-family: kris;
    position: fixed;
    width: max-content;
    bottom: 190px;
    left: -260px;
    color: #c11129;
}
div#name p{
  display: inline;
}
@font-face {
  font-family: cod;
  src:url(../Fonts/codgobrr.ttf);
}
div#subject{
font-family: cod;
font-size: 55px;
position: fixed;
bottom: 67px;
left: -268px;
color: #004000;
opacity: .8;
}
div#arrow {
    font-size: 440px;
    position: fixed;
    bottom: -460px;
    left: -14px;
    color: peru;
}
div#date {
    font-size: 60px;
    font-family: cod;
    position: fixed;
    bottom: 152px;
    left: 270px;
    color: #004000;
    opacity: 0.8;
}
@font-face {
  font-family: unbproblack;
  src: url(../Fonts/unb_pro_black.otf);
}
div#tips {
    font-size: 440px;
    font-family: unbproblack;
    position: fixed;
    z-index: -1;
}
span.tee {
    position: fixed;
    bottom: -290px;
    left: -310px;
    color: #c11129;
}
span.pea {
    position: fixed;
    bottom: -290px;
    left: -10px;
    color: peru;
}
span.eye {
    bottom: -350px;
    left: -100px;
    position: fixed;
    color: #004000;
    opacity: .7;
}
span.ess {
    position: fixed;
    bottom: -350px;
    left: 170px;
    color: green;
    opacity: .7;
}
